
Blacklist Blocking/payload/hosts.txt

Blacklist Blocking/payload/nytprof.out

Blacklist Blocking/payload/update-blacklists-dnsmasq.ptkdb

*.tgz

*.worksheet

*.txt

*.bbprojectdata

*.bbprojectsettings

Blacklist Blocking/ersetup

*.boot

*.boot

AdBlock/install_adblock.v3.22rc2

AdBlock/install_adblock.v3.22rc1

AdBlock/install_adblock.v3.15.1
